body {
    font-family: Roboto, Arial;
    
}

.image-thumbnail {
    width: 100%;
    margin-bottom: 10px;
}



.vid-preview {
    vertical-align: top;
}

.vid-info {
    margin-top: 0px;
    font-weight: 550;
    line-height: 25px;
    margin-bottom: 0px;
}

.channel-img {
    vertical-align: top;
}

.profile-pic {
    width: 50px;
    border-radius: 50px;
}

.channel-info {
    margin-left: 10px;
}

.vid-author {
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-bottom: 5px;
    margin-top: 10px;
}

.vid-stat {
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
